pipeline/pl_create_silver_trip_data_green.json
{
	"name": "pl_create_silver_trip_data_green",
	"properties": {
		"activities": [
			{
				"name": "Get Trip Year and Month",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "use nyc_taxi_ldw;\n\nSELECT DISTINCT \n         year\n       , month\nFROM BRONZE.vw_trip_data_green_csv\norder by year, month ASC;"
						}
					]
				}
			},
			{
				"name": "ForEach Year and Month",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Trip Year and Month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Trip Year and Month').output.resultSets[0].rows",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "Delete Partition",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_nyc_taxi_data_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_path": {
											"value": "silver/trip_data_green/year=@{item().year}/month=@{item().month}",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Create Partition",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delete Partition",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[silver].[usp_silver_trip_data_green]",
								"storedProcedureParameters": {
									"month": {
										"value": {
											"value": "@item().month",
											"type": "Expression"
										},
										"type": "String"
									},
									"year": {
										"value": {
											"value": "@item().Year",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Create Silver Trip Data Green View",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ForEach Year and Month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": "use nyc_taxi_ldw;"
						},
						{
							"type": "NonQuery",
							"text": "DROP VIEW IF EXISTS SILVER.vw_trip_data_green;"
						},
						{
							"type": "NonQuery",
							"text": "CREATE VIEW SILVER.vw_trip_data_green\nAS\nselect\ngtd.filepath(1) as YEAR , -- based on the numerica value it will return the position of the wildcard character\ngtd.filepath(2) as MONTH ,\ngtd.*\nFrom OPENROWSET(\n        BULK 'silver/trip_data_green/year=*/month=*/*.parquet',\n        FORMAT = 'PARQUET',\n        DATA_SOURCE = 'nyc_taxi_src'\n) with (\n    vendor_id\t\t\t\t int,\n    lpep_pickup_datetime     datetime2(7),\n    lpep_dropoff_datetime    datetime2(7),\n    store_and_fwd_flag       varchar(1),\n    ratecode_id               int,\n    pu_location_id             int,\n    do_location_id             int,\n    passenger_count          int,\n    trip_distance            float,\n    fare_amount              float,\n    extra                    float,\n    mta_tax                  float,\n    tip_amount               float,\n    tolls_amount             float,\n    ehail_fee                int,\n    improvement_surcharge    float,\n    total_amount             float,\n    payment_type             int,\n    trip_type                int,\n    congestion_surcharge     float\n) as gtd;"
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-09-01T22:14:28Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}